$font-size: 1rem;
$font-color-light: #FFFFFF;
$font-color-grey: #999999;
$font-color-dark: #60606E;
$font-header-color: #41414d;
$search-bg-color: #ECECEC;
$side_post_color: #E6E6E6;
$footer-nav-color: #9A9A9A;
$tags-color: #E5E5E5;
$button-color: #7BEEC7;
$button-active-color: #57e9b8;
$email-font: #CDCDCD;
$main-font: 'Montserrat';
$main-font-bold: 'Montserrat-bold';
$post-font: 'Roboto';
$feedback-font: 'Roboto';

@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Regular.ttf');
}

@keyframes rotateLinks {
    from {     
        transform: rotateZ(0);
    }

    10% {       
        transform: rotateZ(36deg);
    }

    20% {      
        transform: rotateZ(72deg);
    }

    30% {      
        transform: rotateZ(108deg);
    }

    40% {        
        transform: rotateZ(144eg);
    }

    50% {       
        transform: rotateZ(180deg);
    }

    60% {       
        transform: rotateZ(216deg);
    }

    70% {       
        transform: rotateZ(252deg);
    }

    80% {       
        transform: rotateZ(288deg);
    }

    90% {        
        transform: rotateZ(324deg);
    }

    to {        
        transform:  rotateZ(360deg);;
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    font-family: $main-font;
    font-size: 1em;
}

.top {
    width: min(100%, 90rem);
    height: 100%;
    min-height: 34.62rem;
    background-image: url('../public/images/head.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: $font-header-color;
    position: relative;
    padding: 3% 1% 15%;

    .top__wrap-up {
        width: 82%;
        height: 20%;
        display: flex;
        justify-content: space-between;

        .top__wrap-up__logo {
            width: 4.02em;
            height: 1.04em;
            position: relative;
            display: flex;
            align-self: center;

            .top__wrap-up__logo__link {
                text-decoration: none;
                color: $font-header-color;
            }

            .top__wrap-up__logo__link:hover {
                color: $font-color-dark;
            }
        }

        .top__wrap-up__menu {
            display: flex;
            align-self: center;

            .top__wrap-up__menu__list {
                list-style-type: none;

                .top__wrap-up__menu__list__item:first-child:before {
                    content: '';
                    width: 100%;
                    min-width: 31px;
                    height: 100%;
                    min-height: 1px;
                    display: block;
                    background-color: $font-header-color;
                }

                .top__wrap-up__menu__list__item:nth-child(2):before {
                    content: '';
                    width: 100%;
                    max-width: 15px;
                    height: 100%;
                    min-height: 1px;
                    display: block;
                    background-color: $font-header-color;
                    margin: 6px 0;
                }

                .top__wrap-up__menu__list__item:last-child:before {
                    content: '';
                    width: 100%;
                    max-width: 23px;
                    height: 100%;
                    min-height: 1px;
                    display: block;
                    background-color: $font-header-color;
                }
            }
        }
    }

    .top__wrap-low {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .top__wrap-low__heading {
            display: flex;
            align-self: center;
            margin: 20px;
            font-size: 2em;
        }

        .top__wrap-low__nav {
            display: flex;
            align-self: center;
        
            .top__wrap-low__nav__link {
                text-decoration: none;
                color: $font-header-color;
            }
        
            .top__wrap-low__nav__link:hover {
                text-decoration: none;
                color: $font-color-dark;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .top {
        width: min(100%, 70rem);
        height: 100%;
        min-height: 20rem;        
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .top {
        width: min(100%, 50rem);
        height: 100%;
        min-height: 10rem;        
    }
}


.main-content {
    width: min(100%, 90rem);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 11.46% 6% 11.69% 6.08%;

    .container {
        width: min(57.85%, 52.06rem);
        display: flex;
        flex-direction: column;
        position: relative;       
    
        .post {
            margin-bottom: 6rem;
        
            .post__img {
                width: min(100%, 52.06rem);

                .post__img__picture {
                    display: block;
                    max-width: 100%;
                    margin-bottom: 1.8125rem;
                }
            }

            .post__info {
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;

                .post__info__date {
                    width: 11.56rem;
                    height: 2.15rem;
                    background: $button-color;
                    color: $font-color-light;
                    font-size: 1rem;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 0.7rem;
                }

                .post__info__comments {
                    width: 40px;
                    height: 16px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-right: 20px;

                    img {
                        width: 16px;
                        height: 16px;
                        opacity: 0.6; 
                        margin-right: 9px;
                    }

                    p {
                        width: 100%;
                        font-family: $main-font;
                        font-size: 14px;
                        margin: 0;
                    }
                }

                .post__info__likes {
                    width: 40px;
                    height: 16px;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    img {
                        width: 16px;
                        height: 16px;
                        opacity: 0.6;                
                        margin-right: 8px;
                    }

                    p {
                        width: 100%;
                        font-family: $main-font;
                        font-size: 14px;
                        margin: 0;
                    }
                }
            }

            h2 {
                text-transform: uppercase;
                margin: 20px 0 21px 0;
                color: $font-color-dark;
                font-size: 18px;
            }

            p {
                width: 100%;
                font-family: $post-font;
                font-weight: 100;
                margin-bottom: 30px;
                color: $font-color-grey;
                font-size: 14px;
            }

            .post__read-more-link {
                text-transform: uppercase;
                font-family: $main-font-bold;
                color: $font-color-dark;
                font-size: 14px;
                display: flex;
                text-decoration: none;    
    
                .post__read-more-link__arrow {
                    width: 16px;    
                }
            }
                
            .post__read-more-link:hover {
                text-shadow: 1px 1px 2px $font-color-grey;
            }
        }
    }

    .side-content {
        width: 100%;
        max-width: 265px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        position: relative;

        .side-content__search {
            width: min(100%, 18.35rem);
            height: 100%;
            max-height: 12px;
            min-height: 41px;   
            margin-bottom: 18.87%; 
                    
            
            .side-content__search__wrap {

                .side-content__search__wrap__input {
                    width: min(100%, 18.35rem);
                    // height: 100%;
                    // min-height: 41px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-family: $main-font-bold;
                    opacity: 0.5;
                    background-color: $search-bg-color;
                    padding: 5.28% 7.17% 4.9% 6.04% ;                    
    
                    &:focus::placeholder {
                        opacity: 0;
                    }
                }                
            }
            .side-content__search__wrap:after {
                content: '';
                background-image: url('../public/images/search.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 16px;
                height: 16px;
                opacity: 0.5;
                display: block;
                position: absolute;
                top: 14px;
                right: 19px;                
            }

            .side-content__search__wrap:hover:after {
                cursor: pointer;
            }            
        }

        .side-content__posts {
            margin-bottom: 18.87%;

            .side-content__posts__wrap {
                width: min(100%, 18.35rem);
                height: 100%;                
                display: flex;
                justify-content: space-between;
                align-items: center;
                

                span {
                    width: min(100%, 18.35rem);
                    text-transform: uppercase;
                    font-family: $main-font-bold;
                    font-size: 12px;
                    color: $font-color-grey;
                    margin-bottom: 20px;

                    &:hover {
                        cursor: default;
                        color: $font-color-dark;
                        
                        &:after {
                            background-color: $button-color;                            
                        }
                    }

                    &:after {
                        content: '';
                        width: min(100%, 18.35rem);
                        height: 100%;
                        min-height: 2px;
                        display: flex;
                        background-color: $side_post_color;
                        margin:20px 0 30px;
                    }
                }
            }

            .side-content__posts__latest {
                width: min(100%, 18.35rem);
                display: flex;
                flex-direction: column;

                .side-content__posts__latest__top {
                    width: min(100%, 18.35rem);
                    height: min(100%, 18.35rem);
                    display: flex;
                    margin-bottom: 3.77%;

                    .side-content__posts__latest__top__photo {
                        width: 100%;
                        max-width: 80px;
                        max-height: 100%;
                        height: 80px;
                    }

                    .side-content__posts__latest__info {
                        width: min(100%, 11.56rem);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin: 3.42% 20% 6.42% 6.42%;

                        h4 {
                            font-family: $main-font-bold;
                            color: $font-color-dark;
                            margin-bottom: 3.02%;
                        }

                        p {
                            font-family: $post-font;
                            color: $footer-nav-color;
                        }
                    }
                }
            }
        }

        .side-content__categories {
            width: 100%;
            max-width: 265px;
            height: 100%;
            max-height: 224px;
            margin-bottom: 18.87%;
            
            .side-content__categories__wrap {

                .side-content__categories__wrap__items {
                    width: 100%;
                    max-width: 265px;
                    height: 100%;
                    max-height: 50px;
                    display: flex;
                    justify-content: space-between; 
                    padding: 0 6.42%;
                    position: relative;

                    span {
                        width: 90%;                        
                        color: $font-color-dark;
                        margin-bottom: 6.04%;
                        margin-top: 7.55%;
                    }

                    span:last-child {
                        width: 10%;                        
                        color: $font-color-dark;
                        margin-bottom: 6.04%;
                        margin-top: 7.55%;
                        text-align: end;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        max-width: 265px;
                        height: 100%;
                        max-height: 1px;                        
                        background-color: $font-color-dark;
                        opacity: 0.5;
                        margin-left: -6.42%;
                        position: absolute;
                        top: 50px;
                    }
                }
            }            
        }

        .side-content__tags {
            width: 100%;
            max-width: 265px;
            height: 100%;
            max-height: 142px;
            margin-bottom: 18.87%;

            .side-content__tags__wrap {
                width: 100%;
                max-width: 265px;
                height: 100%;
                max-height: 101px;

                div {   
                    display: flex;
                    flex-wrap: wrap;
                    
                    div {
                        font-family: $main-font-bold;
                        font-size: 12px;
                        text-transform: uppercase;
                        color: $font-color-grey;
                        background-color: $tags-color;
                        margin: 4px;
                        padding: 12px;
                    }
                }
            }
        }

        .side-content__archives {
            width: 100%;
            max-width: 265px;
            height: 100%;
            max-height: 224px;
            margin-top: 18.87%;
            
            .side-content__archives__wrap {

                .side-content__archives__wrap__items {
                    width: 100%;
                    max-width: 265px;
                    height: 100%;
                    max-height: 50px;
                    display: flex;
                    justify-content: space-between; 
                    padding: 0 6.42%;
                    position: relative;

                    span {
                        width: 90%;                        
                        color: $font-color-dark;
                        margin-bottom: 6.04%;
                        margin-top: 7.55%;
                    }

                    span:last-child {
                        width: 10%;                        
                        color: $font-color-dark;
                        margin-bottom: 6.04%;
                        margin-top: 7.55%;
                        text-align: end;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        max-width: 265px;
                        height: 100%;
                        max-height: 1px;                        
                        background-color: $font-color-dark;
                        opacity: 0.5;
                        margin-left: -6.42%;
                        position: absolute;
                        top: 50px;
                    }
                }
            }
        }

        h3 {
            text-transform: uppercase;
            color: $font-color-dark;
            font-size: 14px;            
            margin-bottom: 10.94%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    .main-content {
        width: min(100%, 70rem);
        flex-direction: column;
        padding: 11.46% 1% 11.69% 1%;
        justify-content: center;
        align-content: center;

    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .main-content {
        width: min(100%, 50rem);
        flex-direction: column;
        padding: 11.46% 1% 11.69% 1%;
        justify-content: center;
        align-content: center;

        .container {
            .post {
                .post__info {
                    .post__info__date {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}

.bottom {
    width: min(100%, 90rem);
    height: 100%;
    background-color: $button-color;
    display: flex;
    justify-content: space-between;
    padding: 3.85% 6.46% 3.85% 6.15%;

    .bottom__cooperation-wrap {
        width: min(50%, 38.08rem);

        h3 {
            font-size: 1.875rem;
            text-transform: uppercase;
            color: $font-color-light;
            margin-bottom: 5.75%;
        }

        button {
            width: min(34.02%, 11.49rem);
            height: 30%;
            max-height: 50px;
            text-transform: uppercase;
            font-family: $main-font;
            color: $button-color;
            background-color: $font-color-light;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
        }

        button:hover {
            cursor: pointer;
            font-size: 1.1rem;
        }
    }

    .bottom__feedback-wrap {
        width: min(50%, 38.56rem);
        height: 69.79%;
        max-height: 15.99rem;
        background-color: $font-color-light;
        padding: 1.2% 1.6% 1.2%;
       

        h3 {
            width: min(100%, 23.26rem);
            color: $font-color-dark;
            text-transform: uppercase;
        }

        p {
            width: 100%;
            color: $font-color-grey;
            font-family: $feedback-font;
            margin: 3.23% 0 5.03%;
        }

        form {
            width: min(100%, 35.38rem);
            display: flex;

            input {
                width: min(70%, 25.96rem);
                height: 3.53rem; 
                font-size: 0.75rem;
                text-transform: uppercase;
                color: $email-font;
                font-family: $main-font;
                padding: 1.59rem 1.38rem 1.32rem;
                opacity: 0.5;

                &:focus::placeholder {
                    opacity: 0;
                }

                &:focus {
                    color: black;
                }

                &:focus:invalid {
                    background-color:  tomato;
                }
    
                &:valid {
                    background-color:  $button-color;
                }
            }

            button {
                width: min(30%, 9.42rem);
                height: 3.53rem;
                margin: 0;
                background-color: $button-color;
                text-transform: uppercase;
                font-family: $main-font;
                color: $font-color-light;
                font-size: 0.875rem;
                border: none;
            }

            button:hover {
                background-color: $button-active-color;
                cursor: pointer;
                font-size: 1.1rem;
            }           
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .bottom {
        width: min(100%, 70rem);
        flex-direction: column;
        flex-wrap: wrap;
    }

    .bottom__cooperation-wrap {
        width: 100%;
        margin: 3%;

        h3 {
            font-size: 0.7rem;
        }
    }

    .bottom__feedback-wrap {
        width: 100%;
        margin: 3%;

        form {
            width: 100%;
            height: 100%;
        }
    }

    .bottom * {
        font-size: 0.7rem;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .bottom {
        width: min(100%, 50rem);
        flex-direction: column;
        flex-wrap: wrap;    
    }

    .bottom__cooperation-wrap {
        width: 100%;
        margin: 3%;

        h3 {
            font-size: 0.7rem;
        }
    }

    .bottom__feedback-wrap {
        width: 100%;
        margin: 3%;

        form {
            width: 100%;
            height: 100%;
        }
    }
    
    .bottom * {
        font-size: 0.7rem;
    }
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .bottom {
        width: min(100%, 50rem);
        flex-direction: column;
        flex-wrap: wrap;    
    }

    .bottom__cooperation-wrap {
        width: 100%;
        margin: 3%;

        h3 {
            font-size: 0.7rem;
        }
    }

    .bottom__feedback-wrap {
        width: 100%;
        margin: 3%;

        form {
            width: 100%;
            height: 100%;
        }
    }
    
    .bottom * {
        font-size: 0.7rem;
    }
}

.footer {
    width: min(100%, 90rem);
    height: 100%;
    max-height: 10.66rem;
    padding: 3.85% 6.15% 3.69% 6.31%;
    display: flex;
    justify-content: space-between;

    .footer__menu {
        width: min(100%, 39.67rem);
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;  

        a {
            font-family: $post-font;
            font-size: 0.875rem;
            color: $footer-nav-color;
            text-decoration: none;
            position: relative;
            &:hover {
                font-weight: 900;
            }
        }

        a:not(:last-child):after {
            content: "-";
            position: absolute;
            top: 0;
            left: calc(100% + 1.3rem);
            pointer-events: none;
        }
    }

    .footer__author {
        width: min(100%, 23.61rem);
        height: 100%;
        min-height: 3.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .footer__author__info {
            font-family: $post-font;
            font-size: 0.875rem;
            color: $footer-nav-color;
            text-transform: uppercase;
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
        }

        .footer__author__links {
            width: min(100%, 12.12rem);
            height: 100%;
            max-height: 1rem;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            right: 0;
            

            a {
                img {
                    width: 1rem;
                    height: 1rem;
                    opacity: 0.5;
                    &:hover {
                        width: 2rem;
                        height: 2rem;                        
                        animation-name: rotateLinks;
                        animation-duration: 1s;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        width: min(100%, 70rem);
        overflow-x: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        
        .footer__author {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;        
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        width: min(100%, 50rem);
        overflow-x: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer__author {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}